/*-- scss:defaults --*/
$font-size-root: 17px;
$body-color: #1c1c1c;
$link-color: #0b5d8f;
$code-bg: #f6f7f9;

/*-- scss:rules --*/
.figura-nota {
  font-size: 0.85em;
  color: #555;
  margin-top: -0.6rem;
}
